body {
    margin: unset;
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
}

@font-face {
    font-family: 'Roboto', sans-serif;;
    src: url(fonts.googleapis.com/css2?family=Roboto);
}

header, footer {
    background-color: #000;
}

main {
    overflow-y: auto;
}

footer {
    height: 2.5vh;
}

.header__logo--svg {
    display: block;
    max-width: 100%;
    fill: #fff;
}

svg {
    margin: 15px 0 13px 20px; /* consertar essa margem aqui */
}

p {
    margin: unset;
}

.row {
    display: flex;
}

.username {
    margin: 3.5vh 1vw 3vh 1vw;
    color: #fff;
    font-weight: 700;
}

.arrow {
    color: #fff;
    margin: 3vh 1.5vw 3vh 0vw;
}

.gray-bg {
    width: 3.3vw; 
    height: 89.7vh; 
    background-color: #f4f4f4;
}

.white-bg {
    width: 97vw; 
    height: 85.7vh;
    padding: 3.5vh 0 0 2vw;
    background-color: #fff;
}

.col-logo {
    width: 50vw;
}

.col-name {
    direction: rtl;
    width: 50vw;
}

.text {
    color: #212121;
    font-weight: 700;
    font-size: xx-large;
}

.col-t {
    width: 45vw;
}

.col-search {
    direction: rtl;
    width: 47vw;
}

.search-box {
    height: 3vh;
    direction: ltr;
    color: #707070;
    font-weight: 500;
    font-size: small;
}

.sub-text {
    padding: 1vh 0 0 0;
    color: #212121;
    font-weight: 500;
    font-size: large;
}

.divider-one {
    margin: 2.5vh 2vw 0 0;
    border: 0;
    border-top: 1px solid #bdbdbd
}

.exhibition-text { 
    margin: 2vh 0 0 0;
    color: #666666;
    font-weight: 700;
    font-size: small;
}

.divider-two {
    margin: 2vh 2vw 1.5vh 0;
    border: 0;
    border-top: 1px solid #bdbdbd
}

.pokename { 
    color: #212121;
    font-weight: 700;
    font-size: medium;
    line-height: 1.7;
}

.description {
    color: #565656;
    font-weight: 700;
    font-size: small;
    line-height: 1.9;
}

.divider-three {
    margin: 1.5vh 2vw 1.5vh 0;
    border: 0;
    border-top: 1px solid #bdbdbd
}

.cursor-mod {
    cursor: pointer;
}

.frame {
    border: 1px solid #000;
    border-radius: 5px;
    max-width: 96px;
    max-height: 96px;
}

.media-body {
    margin: 0 27vw 0 1.1vw;
}

.footer-text {
    direction: ltr;
    margin: 0.3vh 1vw 0 0;
}

.page {
    cursor: pointer;
    padding: 0 0 0 1vw;
}

.paginator {
    padding: 1vh 2vw 2vh 0;
    direction: rtl;
    color: #666666;
    font-weight: 700;
    font-size: small;
}

.disable-mock {
    cursor: not-allowed;
    opacity: 0.6;
}